/*  Leah Loves Pets Style Sheet   */

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');

/* Site Wide */
:root {
  --accent-color: #ec0772;
  --primary-color: #ebd2e5;
  --secondary-color: #231F20;
  --white-background: #ffffff;
  --off-white-background: #f7f7f7;
  --tertiary-color:  #FDFAFC;
  --button-color: #EC0772;
  --nav-bar-color: #ebd2e5;
  --title-font: 'Quicksand', sans-serif;
  --normal-font: 'Open Sans', sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  line-height: 1.8em;
}
main {
  padding: 40px 0px;
  max-width: 900px;
  margin: 0 auto;
}
hr {
  margin: 30px 0px 30px 0px;
}
h1, h2, h3, h4{
  margin-top: 20px;
  line-height: 3rem;
  font-family: var(--title-font);
}
h1{
  font-size: 32pt;
}
h2{
  font-size: 28pt;
}
h3{
  font-size: 24pt;
}
h4{
  font-size: 20pt;
}
p{
  font-size: 14pt;
  padding: 10px 0;
  font-family: var(--normal-font);
}
img{
  max-width: 400px;
  display: block;
  margin: auto;
}
iframe {
  max-width: 100%;
}
.flex-item img{
  object-fit: cover;
  width: 250px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}
.flex-item h3, p{
  margin-top: 5px;
  margin-bottom: 0px;
}

/* Header Specific */
.header-index {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/header-background.jpg');
  background-size: cover;
  background-position: center;
}
header {
  top: 0;
  left: 0;
  height: 30px;
}
.site-header{
  width: 100%;
  z-index: 100;
}
.fixed{
  position: fixed;
}
.hidden {
  display: none !important;
}
header.simple-nav{
  height: 0;
  margin-bottom: 60px;
}
#nav-bar{
  height: 70px;
  width: 100%;
  position: fixed;
  z-index:100;
}
#header-img {
  float: left;
  max-height: 70px;
  max-width: 100%;
  padding-left: 10px;
}
#nav-paw{
  float: right;
}
nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: right;
  float: right;
}
nav li {
  display: inline-block;
  padding-top: 25px;
  position: relative;
}
nav a {
  color: white;
  padding-right: 30px;
  text-decoration: none;
  font-size: 24px;
}
.topnav .icon {
  display: none;
}
.cta{
  position:relative;
  top: 350px;
  color: white;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* NAV SPECIFIC SECTION */
#nav-bar{
  background-color: var(--primary-color); /* Black*/
  height: 70px;
}
#nav-paw, .closebtn{
  display: none;
}

/* End Side Nav Experiement Code */
nav{
    text-align: right;
    color: white;
    margin-top: 20px;
  }
.menu{
  margin: 0 30px 0 0;
}
.menu a{
  clear: right;
  margin: 0 10px;
  line-height: 70px;
  color: white;
}
.menu a:hover{
  text-decoration: underline;
}

.accent-button{
  background-color: var(--accent-color);
  color: white;
}
.white-button{
  background-color: white;
  color: var(--accent-color);
}
.nav-colored{
  background-color: var(--primary-color);
}
.nav-transparent{
  background-color: transparent;
}
#menu-button{
  max-height: 20px;
  max-width: 30px;
  margin: 5px;
}
.button{
    z-index: 99;
    border-width: 2px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    margin: 0;
    height: 50px;
    padding: 0px 33px;
    border-radius: 25px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Flex Box Controls */
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  max-width: 100%
}
.flex-container a{
  text-decoration: none;
  color: var(--secondary-color);
}
.flex-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 280px;
  margin: 10px 10px 20px 10px;
}

/* Classes, Alignment, Color, Unique */
.align-right{
  align-items: right;
}
.float-right{
  float: right;
}
div.team {
  overflow: hidden;
}
.team img{
  float: left;
  max-width: 300px;
  margin-right: 30px;
}
.bold{
  font-weight: bold;
}
.centered{
  text-align: center;
}
.gallery img{
  margin: auto;
  padding-bottom: 20px;
}

/* Footer CSS */
footer {
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 25px;
}
footer p{
  max-width: 95%;
  margin: auto;
  padding: 10px 0px 10px 0px;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16pt;
}
footer li {
  display: inline-block;
  padding: 10px; 
}
footer a {
  color: white;
  text-decoration: none;
}
#footer-phone {
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}

/* Small Screen */
@media only screen and (max-width : 900px) {

  /* NEw side nav experiment code */
 /* The side navigation menu */
.sidenav {
  height: 0; /* 100% Full-height */
  width: 100vw; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 60px; /* Stay at the top */
  left: 0;
  text-align: center;
  background-color: var(--primary-color); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  margin-top: 0; /* override standard margin top for desktop view*/
}

/* The navigation menu links */
.sidenav a {
  padding: 15px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  margin-left: 50px;
}
#nav-paw, .closebtn{
  display: block;
}
  main{
    max-width: 90%;
  }
  img{
    max-height: 100%;
    max-width: 100%;
  }
  header label {
    display: block;
    cursor: pointer;
    object-fit: contain;
  }
  #nav-paw {
    width:50px;
    height: auto;
    padding-right: 20px;
    padding-top: 15px;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }
  .menu a{
    display:block;
    margin: 0;
  }
  #toggle:checked + .menu {
    display: block;
    width: 100vw;
    background-color: var(--primary-color);
    top: 0;
  }
  #toggle:checked + .nav-bar{
    display: block;
    position: fixed;
    z-index: 100;
  }
  #toggle:checked + .menu a{
    padding-right: 0px;
  }
  #header-img, header label{
  object-fit: contain;
  }
  .team img{ 
    float: none;
    padding-top: 20px;
  }
  content {
    width: 95vw;
    margin: 0 auto;
  }
  .cta{
    position:relative;
    top: 200px;
    color: white;
    width: 95vw;
    margin: 0 auto;
    text-align: center;
    background-image: url(images/background-image.jpg);
  }
  .topnav a:not(.icon) {
    display: none;
  }
  .topnav a.icon { 
    float: right;  
    display: block;
  }
  .topnav.responsive {
    position: fixed;
    top:0;
    right: 0;
    background-color: #552d7c; 
    width: 170px;
    float: right;
    text-align: right;
    display: flex;
    flex-direction: column-reverse;
  }
  .topnav.responsive a.icon {
  }
  .topnav.responsive a {
    display: block;
  }
}